* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*First Header*/
#first-header-container {
  background-color: #474044;
  display: flex;
  justify-content: center;
  width: 101vw;
  padding-bottom: 1rem
}

#first-header-logo-button-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

#first-header-button {
  background-color: #ffd9da;
  width: 10rem;
  padding: .5rem;
  margin-right: .5rem;
  color: #474044;
  font-weight: bold;
  font-size: 1rem;
}

#first-header-button:hover {
  background-color: #f49fbc;
  color: #474044;
}

#first-header-button:active {
  background-color: #ffd9da;
  color: #474044;
}

/*Second Header*/
#second-header-container {
  background-color: #9bbec7;
  display: flex;
  justify-content: center;
  width: 101vw;
  padding: 1rem;
}

#search-container {
  display: flex;
  justify-content: center;
}

#search-form-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#search-text {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: bold;
  color: #474044;
  margin-left: 1rem;
}

#search-input {
  width: 300px;
  color: #474044;
  padding: .5rem;
  margin-left: 1rem;
}

#search-input::placeholder {
  color: #474044;
}

#submit-search-button {
  background-color: #474044;
  width: 10rem;
  padding: .5rem;
  margin-right: .5rem;
  color: #9bbec7;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 1rem;
}

#submit-search-button:active {
  background-color: #f49fbc;
  color: #474044;
}

/*Homepage*/
#homepage-container {
  /* width: 80%; */
}

/*HomepageLink*/
#homepage-link {
  color: #474044;
  text-decoration: none;
  font-weight: bold;
}

#homepage-link:hover {
  color: #f49fbc;
}

#homepage-link:active {
  color: #ffd9da;
}

/*HoursLocationPage*/
#hours-location-page-container {
  width:60%;
  margin-left: auto;
  margin-right: auto;
  margin-top:3rem;
  margin-bottom:2rem;
  color: #474044;
}

#page-titles {
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2rem;
  color: #474044;
}

#hours-location-library-image-container {
  margin-bottom: 3rem;
}

#address-hours-column {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#address-title-container {
  /* padding-left: 5rem; */
}

#contact-us-button {
  margin-top: 1rem;
  background-color: #ffd9da;
  width: 10rem;
  padding: .5rem;
  margin-right: .5rem;
  color: #474044;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#contact-us-button:hover {
  background-color: #f49fbc;
  color: #474044;
}

#contact-us-button:active {
  background-color: #ffd9da;
  color: #474044;
}

#address-page-title {
  font-weight: bold;
}

/*ContactPage*/
#contact-page-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#faq-page-link {
  color: #f49fbc;
  text-decoration: none;
  font-weight: bold;
}

#staff-card {
  width: 25rem;
  color: #474044;
}

#staff-card-flex-container {
  display: flex;
}

#staff-image {
  background-image: url(images/director.png);
  width: 10rem;
  height: 12rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
}

#card-title {
  padding: .5rem;
  font-weight: bold;
}

#card-subtitle {
  padding: .5rem;
  font-weight: bold;
}

#card-text {
  padding: .5rem;
}
